* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-2 {

  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;

}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

/* Container styles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-color: #f5f5f5;
}

/* Form styles */

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #0077b6;
}

input[type="text"]:focus~label,
textarea:focus~label,
input[type="file"]:focus~label,
input[type="text"]:valid~label,
textarea:valid~label,
input[type="file"]:valid~label {
  transform: translateY(-25px);
  font-size: 14px;
  color: #0077b6;
  font-weight: bold;
  transition: all 0.3s ease;
}

textarea:focus~label,
textarea:valid~label {
  transform: translateY(-55px);
}

textarea:focus~label {
  color: #0077b6;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}



label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  pointer-events: none;
  transition: all 0.3s ease;
  margin: -10px;
}

textarea {
  height: 100px;
  resize: none;
}

button[type="submit"] {
  background-color: #0077b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #005f8b;
  transition: all 0.3s ease;
}

.success-message {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}